#title{
    font-size: xx-large;
    font-weight: bold;
    justify-content: center;
}

.title{
    left:50%
}

.game-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 25px;
    transform: translateX(25%)
}

.box {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:larger;
  font-weight: bold;
}

#frontend{
    background-color: yellow;
}

#backend{
    background-color: lightskyblue;
}

#database{
    color: white;
}